<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliouswang.swipeback" >

    <application
        android:allowBackup="true">

        <activity android:name="com.nzf.markdown.video.MainActivity"
            android:theme="@style/AppTheme.NoAnimation"/>

        <activity android:name=".ViewDragerHelperDemoAct"
            android:theme="@style/AppTheme.NoAnimation"
            />

        <activity android:name=".NormalSwipeBackAct"
            android:theme="@style/AppTheme.NoAnimation"
            />
    </application>

</manifest>
